# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environnement et secrets
.env
credentials/
*.json
!credentials/credentials.json

# Notebooks
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
